extends layout
#{error}
block head
  script(src="/javascripts/la.js")
  script(src="https://highlightjs.org/static/highlight.pack.js")
  script(src="/javascripts/jsnumberformatter.js")
  script(src="/javascripts/jsnumberformatter.locale.js")
  link(rel='stylesheet', href='https://highlightjs.org/static/styles/default.css')
  //-link(rel='stylesheet', href='https://highlightjs.org/static/styles/solarized_dark.css')
  //-link(rel='stylesheet', href='https://highlightjs.org/static/styles/solarized_light.css')
  link(rel='stylesheet', href='https://highlightjs.org/static/styles/github.css')
  //-link(rel='stylesheet', href='https://highlightjs.org/static/styles/monokai_sublime.css')
  script(type='text/javascript').
    $(document).ready(function() {
      loadTables();
    });
  
block content
  div.row
    div.col-md-4
      h1= title
    div(class="bottom-aligned-text col-md-3")
    div(class="bottom-aligned-text col-md-3")
      button(type="button", id="reload_tables", class="btn btn-primary", aria-label="Reload list of Tables")
        span(class="glyphicon glyphicon-floppy-disk", aria-hidden="true") &nbsp;Reload list of Tables
    div(class="bottom-aligned-text col-md-1 text-right")
      button(type="button", id="go_to_mongo", class="btn btn-warning", aria-label="Go to Mongo")
        span(class="glyphicon glyphicon-remove-circle", aria-hidden="true") &nbsp;Mongo
    div(class="bottom-aligned-text col-md-1 text-right")
      button(type="button", id="logout", class="btn btn-danger", aria-label="Close session")
        span(class="glyphicon glyphicon-remove-circle", aria-hidden="true") &nbsp;Logout

  if (typeof message !== "undefined")
    div(class="alert alert-danger") #{message}
  if user
    div.welcomebox
      // Filtered inline output
      p.
        Welcome, #{user.name}
  form(name="query", action="", method="post")
    div.row
      div.col-md-2
        div(class="form-group") 
          select(name="table", id="tables", class="form-control")

          span.help-block Select table &nbsp;
            span(class="glyphicon glyphicon-info-sign",aria-hidden="true",id="info_table", data-toggle="tooltip" title="" data-html="true")            
      div.col-md-4
        div(class="form-group") 
          input(type="text", name="query", id="query", class="form-control")
          span.help-block Set the query
      //-div.col-md-1
        //-div(class="form-group") 
          //-input(type="text", name="sort", id="sort", class="form-control")
          //-span.help-block Sort
      //-div.col-md-1
        //-div(class="form-group") 
          //-select(name="sort_order", id="sort_order", class="form-control")
            //-option(value="1") Asc
            //-option(value="-1") Desc
          //--span.help-block Order
      div.col-md-2
        div(class="form-group") 
          div.row
            div.col-md-2
              span(class="glyphicon glyphicon-chevron-left", aria-hidden="true", id="fromPrevious") 
            div.col-md-6
              input(type="text", name="from", id="from", class="form-control", value="0")
              span.help-block From
            div.col-md-4
              span(class="glyphicon glyphicon-chevron-right", aria-hidden="true", id="fromNext") 
      div.col-md-1
        div(class="form-group") 
          input(type="text", name="limit", id="limit", class="form-control", value="50")
          span.help-block Limit
      div.col-md-1
        div(class="form-group") 
          input(type="button", id="send", value="send", class="btn btn-warning")
    div.row
      div.col-md-10
        div(id="advanced_search", class="row")  
        div(id="use_advanced_search", class="row")  
          span.gwt-RadioButton
            span Scan
              input(type="radio", name="queryOperations", value="scan", id="scan_option", checked="checked")
            span Query
              input(type="radio", name="queryOperations", value="query", id="query_option")
      div.col-md-1
        div(class="form-group",id="export_to_csv") 
          input(type="checkbox", name="export_to_csv", id="export_to_csv_checkbox", value="1") 
          Export CSV
      div.col-md-1
        div(class="form-group") 
          input(type="button", id="send_advanced", value="send", class="btn btn-warning")
    div.row
      div.col-md-12
        div(id="result") 
      input(type="hidden",name="force_reexport_csv",id="force_reexport_csv",value="0") 